In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('jiggy_ecommerce data set.csv')
df

,Date,ProductName,Category,Quantity,UnitPrice,TotalPrice,PaymentType,Country,City,PostalCode,...,ProductReturnDate,ReturnReason,RefundAmount,CustomerSupportContact,PromotionApplied,CouponCode,MembershipStatus,ReviewComment,ReviewDate,FollowUpAction
0,2021-01-01,JBSKMJNRSVIYG,Home & Kitchen,5,250.88,1254.40,PayPal,France,Paris,40804,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01,TFUBFCP,Books,8,250.88,2007.04,Bank Transfer,UK,New York,75206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-02,BQILCKAWMOZE,Clothing,1,250.88,250.88,Bank Transfer,France,Toronto,20934,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-02,QYWXYFUVK,Toys & Games,1,250.88,250.88,Bank Transfer,Canada,New York,40723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-04,DCMWIU,Electronics,9,250.88,2257.92,PayPal,France,Sydney,30405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2024-11-27,SVEMZTAPWXB,Books,5,250.88,1254.40,Bank Transfer,Canada,Paris,48196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,2024-11-27,FEDBJVERJWV,Clothing,2,250.88,501.76,PayPal,France,London,32369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,2024-11-29,KZUYYQUIWPFVK,Books,7,250.88,1756.16,Debit Card,USA,Sydney,12589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,2024-12-01,QDOAVTAILDV,Electronics,9,250.88,2257.92,PayPal,Australia,Paris,33560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,2024-12-02,HMKIYXPJKLN,Books,7,250.88,1756.16,Bank Transfer,Canada,Toronto,13034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   object
 1   ProductName             1000 non-null   object
 2   Category                1000 non-null   object
 3   Quantity                1000 non-null   int64
 4   UnitPrice               1000 non-null   float64
 5   TotalPrice              1000 non-null   float64
 6   PaymentType             1000 non-null   object
 7   Country                 1000 non-null   object
 8   City                    1000 non-null   object
 9   PostalCode              1000 non-null   int64
 10  ShippingCost            1000 non-null   float64
 11  OrderStatus             1000 non-null   object
 12  ReturnStatus            1000 non-null   object
 13  Rating                  1000 non-null   int64
 14  Feedback                1000 non-null   object
 15  ShippingDate            1000 non-null   object
 16  DeliveryDate            1000 non-null   object
 17  CustomerFullName        1000 non-null   object
 18  CustomerPhone           900 non-null    float64
 19  CustomerEmail           900 non-null    object
 20  CustomerAddress         1000 non-null   object
 21  ProductDescription      0 non-null      float64
 22  SupplierName            1000 non-null   object
 23  SupplierContact         900 non-null    object
 24  PurchasePrice           1000 non-null   float64
 25  Profit                  1000 non-null   float64
 26  Discount                1000 non-null   float64
 27  Tax                     1000 non-null   float64
 28  TaxAmount               1000 non-null   float64
 29  FinalPrice              1000 non-null   float64
 30  PaymentStatus           900 non-null    object
 31  ShipmentTrackingNumber  900 non-null    float64
 32  Carrier                 1000 non-null   object
 33  EstimatedDelivery       1000 non-null   object
 34  ActualDelivery          1000 non-null   object
 35  DeliveryStatus          1000 non-null   object
 36  ProductReturnDate       0 non-null      float64
 37  ReturnReason            0 non-null      float64
 38  RefundAmount            0 non-null      float64
 39  CustomerSupportContact  0 non-null      float64
 40  PromotionApplied        0 non-null      float64
 41  CouponCode              0 non-null      float64
 42  MembershipStatus        0 non-null      float64
 43  ReviewComment           0 non-null      float64
 44  ReviewDate              0 non-null      float64
 45  FollowUpAction          0 non-null      float64
dtypes: float64(22), int64(3), object(21)
memory usage: 359.5+ KB

In [4]:
df.columns

Index(['Date', 'ProductName', 'Category', 'Quantity', 'UnitPrice',
       'TotalPrice', 'PaymentType', 'Country', 'City', 'PostalCode',
       'ShippingCost', 'OrderStatus', 'ReturnStatus', 'Rating', 'Feedback',
       'ShippingDate', 'DeliveryDate', 'CustomerFullName', 'CustomerPhone',
       'CustomerEmail', 'CustomerAddress', 'ProductDescription',
       'SupplierName', 'SupplierContact', 'PurchasePrice', 'Profit',
       'Discount', 'Tax', 'TaxAmount', 'FinalPrice', 'PaymentStatus',
       'ShipmentTrackingNumber', 'Carrier', 'EstimatedDelivery',
       'ActualDelivery', 'DeliveryStatus', 'ProductReturnDate', 'ReturnReason',
       'RefundAmount', 'CustomerSupportContact', 'PromotionApplied',
       'CouponCode', 'MembershipStatus', 'ReviewComment', 'ReviewDate',
       'FollowUpAction'],
      dtype='object')

Data Cleaning

In [5]:
# Check for clumns with missing values
missing_values = df.isnull().sum().sort_values(ascending = False).reset_index()
missing_values

                     index     0
0           FollowUpAction  1000
1               ReviewDate  1000
2            ReviewComment  1000
3         MembershipStatus  1000
4               CouponCode  1000
5         PromotionApplied  1000
6   CustomerSupportContact  1000
7             RefundAmount  1000
8             ReturnReason  1000
9        ProductReturnDate  1000
10      ProductDescription  1000
11           CustomerPhone   100
12  ShipmentTrackingNumber   100
13           PaymentStatus   100
14           CustomerEmail   100
15         SupplierContact   100
16            DeliveryDate     0
17        CustomerFullName     0
18                Category     0
19                Quantity     0
20               UnitPrice     0
21              TotalPrice     0
22             PaymentType     0
23                 Country     0
24                    City     0
25              PostalCode     0
26            ShippingCost     0
27          DeliveryStatus     0
28          ActualDelivery     0
29       EstimatedDelivery     0
30                 Carrier     0
31             OrderStatus     0
32            ReturnStatus     0
33              FinalPrice     0
34               TaxAmount     0
35                     Tax     0
36                Discount     0
37                  Profit     0
38           PurchasePrice     0
39             ProductName     0
40            SupplierName     0
41                  Rating     0
42         CustomerAddress     0
43                Feedback     0
44            ShippingDate     0
45                    Date     0

In [6]:
missing_values = df.isnull().sum().sort_values(ascending = False).reset_index()
perc = pd.DataFrame()
perc['column'] = missing_values['index']
perc['num of missing values'] = missing_values[0]
perc

                    column  num of missing values
0           FollowUpAction                   1000
1               ReviewDate                   1000
2            ReviewComment                   1000
3         MembershipStatus                   1000
4               CouponCode                   1000
5         PromotionApplied                   1000
6   CustomerSupportContact                   1000
7             RefundAmount                   1000
8             ReturnReason                   1000
9        ProductReturnDate                   1000
10      ProductDescription                   1000
11           CustomerPhone                    100
12  ShipmentTrackingNumber                    100
13           PaymentStatus                    100
14           CustomerEmail                    100
15         SupplierContact                    100
16            DeliveryDate                      0
17        CustomerFullName                      0
18                Category                      0
19                Quantity                      0
20               UnitPrice                      0
21              TotalPrice                      0
22             PaymentType                      0
23                 Country                      0
24                    City                      0
25              PostalCode                      0
26            ShippingCost                      0
27          DeliveryStatus                      0
28          ActualDelivery                      0
29       EstimatedDelivery                      0
30                 Carrier                      0
31             OrderStatus                      0
32            ReturnStatus                      0
33              FinalPrice                      0
34               TaxAmount                      0
35                     Tax                      0
36                Discount                      0
37                  Profit                      0
38           PurchasePrice                      0
39             ProductName                      0
40            SupplierName                      0
41                  Rating                      0
42         CustomerAddress                      0
43                Feedback                      0
44            ShippingDate                      0
45                    Date                      0

In [7]:
def function(x):
    return (x/len(df)) *100
perc['percentage of missing values'] = perc['num of missing values'].apply(function)
perc

,column,num of missing values,percentage of missing values
0,FollowUpAction,1000,100.0
1,ReviewDate,1000,100.0
2,ReviewComment,1000,100.0
3,MembershipStatus,1000,100.0
4,CouponCode,1000,100.0
5,PromotionApplied,1000,100.0
6,CustomerSupportContact,1000,100.0
7,RefundAmount,1000,100.0
8,ReturnReason,1000,100.0
9,ProductReturnDate,1000,100.0
10,ProductDescription,1000,100.0
11,CustomerPhone,100,10.0
12,ShipmentTrackingNumber,100,10.0
13,PaymentStatus,100,10.0
14,CustomerEmail,100,10.0
15,SupplierContact,100,10.0
16,DeliveryDate,0,0.0
17,CustomerFullName,0,0.0
18,Category,0,0.0
19,Quantity,0,0.0
20,UnitPrice,0,0.0
21,TotalPrice,0,0.0
22,PaymentType,0,0.0
23,Country,0,0.0
24,City,0,0.0
25,PostalCode,0,0.0
26,ShippingCost,0,0.0
27,DeliveryStatus,0,0.0
28,ActualDelivery,0,0.0
29,EstimatedDelivery,0,0.0
30,Carrier,0,0.0
31,OrderStatus,0,0.0
32,ReturnStatus,0,0.0
33,FinalPrice,0,0.0
34,TaxAmount,0,0.0
35,Tax,0,0.0
36,Discount,0,0.0
37,Profit,0,0.0
38,PurchasePrice,0,0.0
39,ProductName,0,0.0
40,SupplierName,0,0.0
41,Rating,0,0.0
42,CustomerAddress,0,0.0
43,Feedback,0,0.0
44,ShippingDate,0,0.0
45,Date,0,0.0

As we see above there are 10 columns are completely empty and 5 columns with only 10 percent of values

In [8]:
# Handling missing values
list(perc['column'][perc['num of missing values'] > 0])

['FollowUpAction',
 'ReviewDate',
 'ReviewComment',
 'MembershipStatus',
 'CouponCode',
 'PromotionApplied',
 'CustomerSupportContact',
 'RefundAmount',
 'ReturnReason',
 'ProductReturnDate',
 'ProductDescription',
 'CustomerPhone',
 'ShipmentTrackingNumber',
 'PaymentStatus',
 'CustomerEmail',
 'SupplierContact']

In [9]:
df[list(perc['column'][perc['num of missing values'] > 0])].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FollowUpAction          0 non-null      float64
 1   ReviewDate              0 non-null      float64
 2   ReviewComment           0 non-null      float64
 3   MembershipStatus        0 non-null      float64
 4   CouponCode              0 non-null      float64
 5   PromotionApplied        0 non-null      float64
 6   CustomerSupportContact  0 non-null      float64
 7   RefundAmount            0 non-null      float64
 8   ReturnReason            0 non-null      float64
 9   ProductReturnDate       0 non-null      float64
 10  ProductDescription      0 non-null      float64
 11  CustomerPhone           900 non-null    float64
 12  ShipmentTrackingNumber  900 non-null    float64
 13  PaymentStatus           900 non-null    object
 14  CustomerEmail           900 non-null    object
 15  SupplierContact         900 non-null    object
dtypes: float64(13), object(3)
memory usage: 125.1+ KB

In [10]:
df.fillna({'FollowUpAction':0.0,
 'ReviewDate':0.0,
 'ReviewComment':0.0,
 'MembershipStatus':0.0,
 'CouponCode':0.0,
 'PromotionApplied':0.0,
 'CustomerSupportContact':0.0,
 'RefundAmount':0.0,
 'ReturnReason':0.0,
 'ProductReturnDate':0.0,
 'ProductDescription':0.0,
 'CustomerPhone':0.0,
 'ShipmentTrackingNumber':0.0,
 'PaymentStatus':'unknown',
 'CustomerEmail':'unknown',
 'SupplierContact':'unknown'},inplace=True)

In [11]:
df.isnull().sum().sort_values(ascending=False).reset_index()

                     index  0
0                     Date  0
1           ActualDelivery  0
2                   Profit  0
3                 Discount  0
4                      Tax  0
5                TaxAmount  0
6               FinalPrice  0
7            PaymentStatus  0
8   ShipmentTrackingNumber  0
9                  Carrier  0
10       EstimatedDelivery  0
11          DeliveryStatus  0
12             ProductName  0
13       ProductReturnDate  0
14            ReturnReason  0
15            RefundAmount  0
16  CustomerSupportContact  0
17        PromotionApplied  0
18              CouponCode  0
19        MembershipStatus  0
20           ReviewComment  0
21              ReviewDate  0
22           PurchasePrice  0
23         SupplierContact  0
24            SupplierName  0
25      ProductDescription  0
26                Category  0
27                Quantity  0
28               UnitPrice  0
29              TotalPrice  0
30             PaymentType  0
31                 Country  0
32                    City  0
33              PostalCode  0
34            ShippingCost  0
35             OrderStatus  0
36            ReturnStatus  0
37                  Rating  0
38                Feedback  0
39            ShippingDate  0
40            DeliveryDate  0
41        CustomerFullName  0
42           CustomerPhone  0
43           CustomerEmail  0
44         CustomerAddress  0
45          FollowUpAction  0

There are no missing values so Data is clean

In [12]:
df['Date'] = pd.to_datetime(df['Date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   datetime64[ns]
 1   ProductName             1000 non-null   object
 2   Category                1000 non-null   object
 3   Quantity                1000 non-null   int64
 4   UnitPrice               1000 non-null   float64
 5   TotalPrice              1000 non-null   float64
 6   PaymentType             1000 non-null   object
 7   Country                 1000 non-null   object
 8   City                    1000 non-null   object
 9   PostalCode              1000 non-null   int64
 10  ShippingCost            1000 non-null   float64
 11  OrderStatus             1000 non-null   object
 12  ReturnStatus            1000 non-null   object
 13  Rating                  1000 non-null   int64
 14  Feedback                1000 non-null   object
 15  ShippingDate            1000 non-null   object
 16  DeliveryDate            1000 non-null   object
 17  CustomerFullName        1000 non-null   object
 18  CustomerPhone           1000 non-null   float64
 19  CustomerEmail           1000 non-null   object
 20  CustomerAddress         1000 non-null   object
 21  ProductDescription      1000 non-null   float64
 22  SupplierName            1000 non-null   object
 23  SupplierContact         1000 non-null   object
 24  PurchasePrice           1000 non-null   float64
 25  Profit                  1000 non-null   float64
 26  Discount                1000 non-null   float64
 27  Tax                     1000 non-null   float64
 28  TaxAmount               1000 non-null   float64
 29  FinalPrice              1000 non-null   float64
 30  PaymentStatus           1000 non-null   object
 31  ShipmentTrackingNumber  1000 non-null   float64
 32  Carrier                 1000 non-null   object
 33  EstimatedDelivery       1000 non-null   object
 34  ActualDelivery          1000 non-null   object
 35  DeliveryStatus          1000 non-null   object
 36  ProductReturnDate       1000 non-null   float64
 37  ReturnReason            1000 non-null   float64
 38  RefundAmount            1000 non-null   float64
 39  CustomerSupportContact  1000 non-null   float64
 40  PromotionApplied        1000 non-null   float64
 41  CouponCode              1000 non-null   float64
 42  MembershipStatus        1000 non-null   float64
 43  ReviewComment           1000 non-null   float64
 44  ReviewDate              1000 non-null   float64
 45  FollowUpAction          1000 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(3), object(20)
memory usage: 359.5+ KB

In [14]:
df.columns

Index(['Date', 'ProductName', 'Category', 'Quantity', 'UnitPrice',
       'TotalPrice', 'PaymentType', 'Country', 'City', 'PostalCode',
       'ShippingCost', 'OrderStatus', 'ReturnStatus', 'Rating', 'Feedback',
       'ShippingDate', 'DeliveryDate', 'CustomerFullName', 'CustomerPhone',
       'CustomerEmail', 'CustomerAddress', 'ProductDescription',
       'SupplierName', 'SupplierContact', 'PurchasePrice', 'Profit',
       'Discount', 'Tax', 'TaxAmount', 'FinalPrice', 'PaymentStatus',
       'ShipmentTrackingNumber', 'Carrier', 'EstimatedDelivery',
       'ActualDelivery', 'DeliveryStatus', 'ProductReturnDate', 'ReturnReason',
       'RefundAmount', 'CustomerSupportContact', 'PromotionApplied',
       'CouponCode', 'MembershipStatus', 'ReviewComment', 'ReviewDate',
       'FollowUpAction'],
      dtype='object')

In [15]:
# Create table product
product = df[['ProductName', 'Category','ProductDescription','SupplierName', 'SupplierContact', 'PurchasePrice']].copy().drop_duplicates()

product['Product_id'] = range(1,len(product)+1)
product = product[['Product_id'] + [x for x in product.columns if x !='Product_id']]
product

,Product_id,ProductName,Category,ProductDescription,SupplierName,SupplierContact,PurchasePrice
0,1,JBSKMJNRSVIYG,Home & Kitchen,0.0,GAZBHXKMERSUC,WLNHIBUBXPTKTJHGA,205.26
1,2,TFUBFCP,Books,0.0,AVESIZXGLNPMRJ,unknown,205.26
2,3,BQILCKAWMOZE,Clothing,0.0,UFVCDAKQE,XUBVMSAFHQC,205.26
3,4,QYWXYFUVK,Toys & Games,0.0,WGDZPONB,ZSGOFYVWRJDERJJ,205.26
4,5,DCMWIU,Electronics,0.0,TXBEMWJVMNYRTW,GTNYHZIXEYUHTETRDKU,205.26
...,...,...,...,...,...,...,...
995,996,SVEMZTAPWXB,Books,0.0,RVKVJVFNTET,unknown,205.26
996,997,FEDBJVERJWV,Clothing,0.0,IEESMWENBY,DNXEVLDCRXEZFNFT,205.26
997,998,KZUYYQUIWPFVK,Books,0.0,WWZLXTGCI,WLZLHWTYBERXYCPEIF,205.26
998,999,QDOAVTAILDV,Electronics,0.0,ZPYBTAXDDWFC,VYPZGDPTQSYQ,205.26
999,1000,HMKIYXPJKLN,Books,0.0,BQLLORIUEVCQ,BXVWDPDTLVT,205.26

In [16]:
# create table customer
customer = df[['CustomerFullName', 'CustomerPhone','CustomerEmail', 'CustomerAddress'
               ,'Country', 'City', 'PostalCode']].copy().drop_duplicates()

customer['customer_id'] = range(1,len(customer)+1)
customer = customer[['customer_id']+[x for x in customer.columns if x != 'customer_id']]
customer

,customer_id,CustomerFullName,CustomerPhone,CustomerEmail,CustomerAddress,Country,City,PostalCode
0,1,HBNPTJREPKSFGV,1.401023e+10,unorc@example.com,LCJFUQABSTZFJJRWHTGJYAVOJVC,France,Paris,40804
1,2,RTWHUJQIMHQ,1.311776e+10,mcgsw@example.com,IMFSBLKMVCQIWOODNNNRC,UK,New York,75206
2,3,PUHZJLRWIWYDEWPARR,1.044630e+10,xrqvi@example.com,HSBEXIKPTBGEYAUDIORJ,France,Toronto,20934
3,4,YSIACZBBQFEUKIVYDGM,1.719314e+10,nvhne@example.com,KQZRLWMRVQJOTWXHUKRDSWVBTC,Canada,New York,40723
4,5,QTBERMRKNLDGM,0.000000e+00,xtnlv@example.com,QLSYJTMNPZXAXRC,France,Sydney,30405
...,...,...,...,...,...,...,...,...
995,996,KRMLBJVKPQNVUMQ,1.793713e+10,hdamj@example.com,VVFRWUXUDOMUTTYUVYMZUDXCZIEE,Canada,Paris,48196
996,997,DYKQZCBARPKGER,1.259897e+10,ltbfx@example.com,RAMAQHEBLJLOPWHUEDWPHIV,France,London,32369
997,998,VHVFVUUVVAGFV,0.000000e+00,unknown,ROSEHHYQEHJCCFDP,USA,Sydney,12589
998,999,GNFJRPLKXH,1.200788e+10,lidfr@example.com,HGQOXEFWEYHGXCTRASXHAOXOCOGAD,Australia,Paris,33560
999,1000,LWGPDAYAUOZNYOBP,1.933923e+10,falwc@example.com,BJJETLQIMGVKMWJQO,Canada,Toronto,13034

In [17]:
# create table shipping
shipping = df[['ShippingCost', 'OrderStatus', 'ReturnStatus', 'Rating', 'Feedback',
       'ShippingDate','DeliveryDate','ShipmentTrackingNumber']].copy().drop_duplicates().reset_index(drop=True)

shipping['shipping_id'] = range(1,len(shipping)+1)
shipping = shipping[['shipping_id']+[x for x in shipping.columns if x != 'shipping_id']]
shipping

,shipping_id,ShippingCost,OrderStatus,ReturnStatus,Rating,Feedback,ShippingDate,DeliveryDate,ShipmentTrackingNumber
0,1,34.42,Refunded,Returned,3,QAAGDWULPNWJNGDBXRPIEIYHXTPT,2021-01-05,2021-01-12,804964.0
1,2,34.42,Refunded,Not Returned,2,RDPDFCROHRXWCFVZUXOLEGVOGMYCZWMZCBWDQFKFVBQCLNBVV,2021-01-03,2021-01-12,377767.0
2,3,34.42,Completed,Not Returned,4,EJJUIUMJFKDZNQTBJCGGAHWAHNNBHSJGMVUOKZNKBBLOQNYP,2021-01-06,2021-01-09,874536.0
3,4,34.42,Completed,Returned,2,HXQELFRZEFIOJQZSLIONAQAWUVMHMPBMRCMSMSDSRYFSYD,2021-01-04,2021-01-10,847385.0
4,5,34.42,Completed,Returned,3,XGGZWZPPEOWDXYMSGLZIQBP,2021-01-07,2021-01-09,560121.0
...,...,...,...,...,...,...,...,...,...
995,996,34.42,Pending,Returned,2,XBEPVKVFKASCHVRMATQELKXZRHXVXMBWPLHD,2024-12-01,2024-12-06,268451.0
996,997,34.42,Cancelled,Not Returned,2,IKPFLSPMDLDQNZQATAVBQWVALMNJLYVRG,2024-11-29,2024-12-05,856444.0
997,998,34.42,Completed,Not Returned,5,OGNIEAPEXHSTLHHWFTZIBRAKOLCSTSJPFIHVPH,2024-12-02,2024-12-08,713007.0
998,999,34.42,Pending,Returned,1,ZVRETLFBDPXNQSDRLBFFCHLCBUWARRHZVNMOOMDDECL,2024-12-05,2024-12-10,0.0
999,1000,34.42,Pending,Returned,2,TLTGGALCOIVVTZINCHFLBCNQCDOVZGSNPMWTQQXJGTQVLKJWV,2024-12-05,2024-12-13,746250.0

In [18]:
# create table inventory
inventory = df[['Carrier', 'EstimatedDelivery',
       'ActualDelivery', 'DeliveryStatus', 'ProductReturnDate', 'ReturnReason',
       'RefundAmount', 'CustomerSupportContact', 'PromotionApplied',
       'CouponCode', 'MembershipStatus', 'ReviewComment', 'ReviewDate',
       'FollowUpAction']].copy().drop_duplicates().reset_index(drop=True)

inventory['inventory_id'] = range(1, len(inventory)+1)
inventory = inventory[['inventory_id'] + [x for x in inventory.columns if x !='inventory_id']]
inventory

,inventory_id,Carrier,EstimatedDelivery,ActualDelivery,DeliveryStatus,ProductReturnDate,ReturnReason,RefundAmount,CustomerSupportContact,PromotionApplied,CouponCode,MembershipStatus,ReviewComment,ReviewDate,FollowUpAction
0,1,UPS,2021-01-12,2021-01-12,On Time,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,USPS,2021-01-11,2021-01-12,Early,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,DHL,2021-01-10,2021-01-09,Early,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,UPS,2021-01-08,2021-01-09,Early,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,DHL,2021-01-07,2021-01-08,Delayed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,987,UPS,2024-12-07,2024-12-06,Delayed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
987,988,DHL,2024-12-04,2024-12-05,Delayed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
988,989,FedEx,2024-12-08,2024-12-08,Early,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989,990,USPS,2024-12-10,2024-12-10,Delayed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990,991,USPS,2024-12-14,2024-12-12,Early,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
#create table sales
sales = df.merge(product , on=['ProductName', 'Category','ProductDescription','SupplierName', 'SupplierContact', 'PurchasePrice'],
                 how='left')\
       .merge(customer, on=['CustomerFullName', 'CustomerPhone','CustomerEmail', 'CustomerAddress'
               ,'Country', 'City', 'PostalCode'],how='left')\
       .merge(shipping,on=['ShippingCost', 'OrderStatus', 'ReturnStatus', 'Rating', 'Feedback',
       'ShippingDate','DeliveryDate','ShipmentTrackingNumber'],how='left')\
       .merge(inventory,on=['Carrier', 'EstimatedDelivery',
       'ActualDelivery', 'DeliveryStatus', 'ProductReturnDate', 'ReturnReason',
       'RefundAmount', 'CustomerSupportContact', 'PromotionApplied',
       'CouponCode', 'MembershipStatus', 'ReviewComment', 'ReviewDate',
       'FollowUpAction'],how='left')\
       [['Product_id','customer_id','shipping_id','inventory_id','Quantity', 'UnitPrice',
       'TotalPrice','PaymentType','Profit',
       'Discount', 'Tax', 'TaxAmount', 'FinalPrice', 'PaymentStatus','Date']]

sales

,Product_id,customer_id,shipping_id,inventory_id,Quantity,UnitPrice,TotalPrice,PaymentType,Profit,Discount,Tax,TaxAmount,FinalPrice,PaymentStatus,Date
0,1,1,1,1,5,250.88,1254.40,PayPal,228.10,0.02,0.07,87.81,1317.1220,Failed,2021-01-01
1,2,2,2,2,8,250.88,2007.04,Bank Transfer,364.96,0.13,0.07,140.49,1886.6148,Processed,2021-01-01
2,3,3,3,3,1,250.88,250.88,Bank Transfer,45.62,0.02,0.07,17.56,263.4224,Pending,2021-01-02
3,4,4,4,4,1,250.88,250.88,Bank Transfer,45.62,0.14,0.07,17.56,233.3168,unknown,2021-01-02
4,5,5,5,5,9,250.88,2257.92,PayPal,410.58,0.07,0.07,158.05,2257.9156,Failed,2021-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,996,996,987,5,250.88,1254.40,Bank Transfer,228.10,0.16,0.07,87.81,1141.5060,Processed,2024-11-27
996,997,997,997,988,2,250.88,501.76,PayPal,91.24,0.01,0.07,35.12,531.8624,Failed,2024-11-27
997,998,998,998,989,7,250.88,1756.16,Debit Card,319.34,0.28,0.07,122.93,1387.3652,Failed,2024-11-29
998,999,999,999,990,9,250.88,2257.92,PayPal,410.58,0.19,0.07,158.05,1986.9652,Processed,2024-12-01
999,1000,1000,1000,991,7,250.88,1756.16,Bank Transfer,319.34,0.13,0.07,122.93,1650.7892,Failed,2024-12-02

In [21]:
#save tables
product.to_csv(r'clean tables\product.csv',index=False)
customer.to_csv(r'clean tables\customer.csv',index=False)
shipping.to_csv(r'clean tables\shipping.csv',index=False)
inventory.to_csv(r'clean tables\inventory.csv',index=False)
sales.to_csv(r'clean tables\sales.csv',index=False)

ERD Diagram

![alt text](Schema.png)